<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- CSS includes -->
    <link rel="stylesheet" type="text/css" charset="utf-8" href="style.css">
    <link rel="stylesheet" type="text/css" charset="utf-8" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" charset="utf-8" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- JS library includes -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" charset="utf-8">
        angular.module('myApplication', [])
        .controller('myController',
        function($scope, $http) {
            $scope.init = function() {
                $scope.videoheight = 360;
                $scope.videowidth = 640;
            }
        });
    </script>
</head>

<body class="body-style">
<div ng-app="myApplication"
     ng-controller="myController"
     ng-init="init();">


<div class="embedded-style">
        <div class="row">
            <div class="col-sm-4">
                <button type="button"
                        class="btn btn-info"
                        data-toggle="collapse"
                        data-target="#video_2halfD">
                        2.5D First Person Shooter (Fall 2013)
                </button>
                <div id="video_2halfD">
                    <label for="videowidth"> Width: </label>
                    <input id="videowidth"
                           type="text"
                           ng-model="videowidth"/>               <br/>
                    <label for="videoheight"> Height: </label>
                    <input id="videoheight"
                           type="text"
                           ng-model="videoheight"/>              <br/>
                    <iframe width="{{videowidth}}" height="{{videoheight}}"
                            src="https://www.youtube.com/embed/aGD918JzFoo"
                            frameborder="0"
                            name="fps25Dvideo" id="fps25Dvideo"
                            allowfullscreen>
                        Your browser does not support iframes.
                    </iframe>
                </div>
            </div>
        </div> <!-- row for 2.5D video -->
</div> <!-- embedded-style -->

</div>

<p> Copyright © 2016, 2017 by Joey Fernau </p>
</body>
</html>