<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- CSS includes -->
    <link rel="stylesheet" type="text/css" charset="utf-8" href="style.css">
    <link rel="stylesheet" type="text/css" charset="utf-8" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" charset="utf-8" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- JS library includes -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" charset="utf-8">
        angular.module('myApplication', [])
        .controller('myController',
        function($scope, $http) {
            $scope.init = function() {
                $scope.herbwidth = 800;
                $scope.herbheight = 800;
            }
        });
    </script>
</head>

<body class="body-style">
<div ng-app="myApplication"
     ng-controller="myController"
     ng-init="init();">

<div class="row">
    <div class="col-sm-4">
        <button type="button"
                class="btn btn-info"
                data-toggle="collapse"
                data-target="#herb">
                HERB Task Planning (Spring 2014)
        </button>                                   <br/>
        <div id="herb">
            <label for="herbwidth"> Width: </label>
            <input id="herbwidth"
                   type="text"
                   ng-model="herbwidth"/>               <br/>
            <label for="herbheight"> Height: </label>
            <input id="herbheight"
                   type="text"
                   ng-model="herbheight"/>              <br/>
            <iframe width="{{herbwidth}}"
                    height="{{herbheight}}"
                    type="application/pdf"
                    name="HERBproject" id="HERBproject"
                    src="HERB_Task_Planning.pdf">
                Your browser does not support iframes.
            </iframe>
        </div>
    </div>
</div> <!-- row for HERB project poster -->

</div>
<p> Copyright © 2016, 2017 by Joey Fernau </p>
</body>
</html>
